.setting-page {
  background-color: #f5f5f5;

  .setting-content {
    padding: 16px;

    .setting-group {
      background: #fff;
      border-radius: 12px;
      margin-bottom: 16px;
      overflow: hidden;
    }
  }
}
